In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('bitcoin.csv')

In [4]:
data.head()

              Date        Price
0  25-08-2018 0.00  6719.429231
1  26-08-2018 0.00  6673.274167
2  27-08-2018 0.00  6719.266154
3  28-08-2018 0.00  7000.040000
4  29-08-2018 0.00  7054.276429

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    365 non-null    object
 1   Price   365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [6]:
data.describe()

              Price
count    365.000000
mean    6343.278019
std     2578.121880
min     3225.299167
25%     3933.143333
50%     6296.320833
75%     7920.945000
max    12686.388330

In [7]:
data.drop(['Date'],1,inplace=True)

In [8]:
data.head()

         Price
0  6719.429231
1  6673.274167
2  6719.266154
3  7000.040000
4  7054.276429

In [9]:
days = 30
data['Prediction'] = data[['Price']].shift(-days)

In [10]:
data.head()

         Price   Prediction
0  6719.429231  6639.304167
1  6673.274167  6412.459167
2  6719.266154  6468.631667
3  7000.040000  6535.476667
4  7054.276429  6677.342500

In [11]:
data.tail()

           Price  Prediction
360  10746.50769         NaN
361  10169.09417         NaN
362  10030.74667         NaN
363  10255.97750         NaN
364  10158.54083         NaN

In [12]:
X = np.array(data.drop(['Prediction'],1))

In [13]:
X = X[len(data) - days]

In [ ]:
X